<svg xmlns="http://www.w3.org/2000/svg" id="svg1" width="100%" height="100%" viewBox="0 0 500 100" version="1.1">
  <g id="layer2">
    <path id="path4-2" class="xetLine" style="fill-opacity:1;fill-rule:evenodd;stroke-width:3.96587;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:11.8976, 3.96587;stroke-dashoffset:0;stroke-opacity:1" d="M 249.98293,0 V 100" />
  </g>
  <g id="layer1">
    <g id="g3">
      <path id="path1" class="xetLine" style="fill-opacity:1;fill-rule:evenodd;stroke-width:3.96587;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M 249.98293,0 V 100" />
      <animateTransform #lineLAnimate attributeName="transform"
        type="translate"
        [attr.from]="lineL.move.from+' 0'"
        [attr.to]="lineL.move.to+' 0'"
        begin="indefinite"
        dur="0.5s"
        additive="replace"
        fill="freeze"
      />
    </g>
    <g id="g2">
      <path id="path1-6" class="xetLine" style="fill-opacity:1;fill-rule:evenodd;stroke-width:3.96587;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M 249.98293,-1.4143079e-6 V 99.999999" />
      <animateTransform #lineRAnimate attributeName="transform"
        type="translate"
        [attr.from]="lineR.move.from+' 0'"
        [attr.to]="lineR.move.to+' 0'"
        begin="indefinite"
        dur="0.5s"
        additive="replace"
        fill="freeze"
      />
    </g>
    <g id="g1">
      <path id="use1" class="xetBoat" style="display:inline;fill-opacity:1;fill-rule:evenodd;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-dasharray:none" d="m 250.01889,30.484649 c 3.85513,2.443479 7.9011,9.95617 9.49646,18.824603 l -1e-5,13.953958 c -2.35081,3.099191 -4.6456,6.446168 -9.49638,6.243579 -4.79516,-3.6e-5 -7.13499,-3.108863 -9.49645,-6.243531 -0.0455,-5.085758 -0.0385,-9.631557 -0.0358,-14.035498 1.66707,-8.786952 5.63873,-16.309255 9.53209,-18.743111 z" />
      <animateTransform #boatAnimate attributeName="transform"
        type="translate"
        [attr.from]="boat.move.from+' 0'"
        [attr.to]="boat.move.to+' 0'"
        begin="indefinite"
        dur="0.5s"
        additive="replace"
        fill="freeze"
      />
    </g>
  </g>
</svg>
